.image{

  width: 100%;
  height: 100%;

}

.logo{
  margin-left: 2%;
}

.right{
  
  margin-right: 2%;
}

li{
  margin-right: 10px;
  font-size: 25px;
}

.small{

  margin-left: -20px !important;
  margin-right: 15px !important;
}

.row{
	background-color: white;

}

.nav-wrapper, .page-footer{

	background-color: dodgerblue;
}

.sizing{
  height: 250px;
  width: 250px;
  margin-bottom: 20px;
  background-image: url("/images/bg.jpg");
  border: 2px solid gray;
}

.content{
  background-image: url("/images/bg.jpg");

}

.sizing:hover{

  border: 2px solid dodgerblue;
  cursor: pointer;

}

.nomatchText {
  font-family: 'Press Start 2P', cursive;
  color: darkgreen;

}

.logoutText {
  font-family: 'Montserrat', sans-serif;
  color: white;


}

.logoutPanel {
  background-color: dodgerblue;
}

.namey {

  padding-right: 15%;
}

 .input-field input:focus + label {
   color: dodgerblue !important;
 }

 .row .input-field input:focus {
   border-bottom: 1px solid dodgerblue !important;
   box-shadow: 0 1px 0 0 dodgerblue !important
 }

i.icon-blue {
    color: dodgerblue;
}

.groupText {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  color: white;
}

.groupTextPanel {
  background-color: dodgerblue;

}

.toprow{


  padding-bottom: 25px;
}

.bordy {

  border: 2px solid black;
  height: 900px;
  overflow: auto;
}


.hovy:hover{

  cursor: pointer;
}

.eventy {

  border: 2px solid darkgray;
  height: 220px;
  overflow: auto;
}

.bordy2 {

  border: 2px solid black;

}

.bordy3 {

  border: 2px solid black;
  height: 175px;
  overflow: auto;
}

.bordy4 {

  border: 2px solid black;
  height: 525px;
  overflow: auto;
}

.coms {
height: 90px;
  overflow: auto;
}

.navText {
  color: dodgerblue;
  
}
.navTab {
  background-color: none;
  font-family: 'Montserrat', sans-serif;
}

.transparent {
  position: absolute;z-index:999999999;
}

.groupHeader {
  font-family: 'Montserrat', sans-serif;

}

.searchText {
  font-family: 'Montserrat', sans-serif;
}

.resultsText {
  font-family: 'Montserrat', sans-serif;
}

.chatText{
  font-family: 'Montserrat', sans-serif;
}

.friendsText{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold !important; 
}


.video-container {
  height: 50vh;
  position: relative;
  overflow: hidden;
  padding-bottom: 25% !important;
  @media(min-width: 600px) {
    height: 100vh;
  }
}

/*.video-container: {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(black, .2);
  z-index: 1;
}*/

video {
  object-fit: cover; // Set the magic
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.callout {
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  position: relative;
  z-index: 10;
}

.navbarTitle{
  padding-top: 55px;
  font-family: 'Montserrat', sans-serif;
}

.navDescription {
  position:relative;
  top: 170px;
  left: 10px;
  font-family: 'Montserrat', sans-serif;
  color: white;

}

.transparent{
  padding-top:30px;
  padding-bottom:30px;
  position:absolute;
  top:0;
  width:100%;
  z-index:1;
  background-color: none;
}

.titles {
 
  position:relative;
  top: -130px;
  width:100%;
  z-index:1;
  background-color: none;
  color: white;

}

.head {

  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-left: 33%;
  position:relative;
  top: 80px;
  font-size: 50px;

}


.loginButton {
  z-index:1;
  width: 100%;
  height: 100%;

}
.loginCard {
  position: absolute;
  left: 25%;
  top: 350px;
  opacity: 0.8;
}

.loginContent {
  position: center;
}
.responsive-image {
  z-index:-60;
}

.loginRow {
  background: transparent;

}
.descriptionRow {
  position: absolute;
  top: 55%;
  left: 35%;
  background-color: transparent;
}
.descriptionBorder {
  width:100%;
}

.descriptGif {
  width: 280px;
  height: 280px;
  opacity: 0.7;
  margin-left: -90px;
  padding: 40px;


}

.descriptText {
  margin-left: -90px;
  margin-bottom: 100px;

}
.votey{

  margin-bottom: 0;
}
.background404 {
  background-image: url("https://cdn4.geckoandfly.com/wp-content/uploads/2015/09/android-windows-mac-iphone-prank-4.jpg");
  background-repeat: no-repeat;
  height: 1005px;
  width: 1920px;
}

.gif404 {
  position: center;
  border-radius: 25px;
 
}

.text404 {
  font-size: 80px;
  margin-bottom: 200px;
  font-family: 'Pacifico', cursive;
  color: white;
  margin-top: 0px !important;
}

.backgroundy {
  background-image: url("https://www.imgbase.info/images/safe-wallpapers/photography/cityscape/49915_cityscape_city_life.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1005px;
  width: 1920px;
}

@media screen and (max-width: 1680px) { 

.backgroundy {

  width: 1680px;

}

.background404 {
  width: 1680px;
}

.descriptionRow {
  position: absolute;
  top: 55%;
  left: 33%;

}

.head{

	margin-left: 29%;
}

.right {
position: absolute;
  top: 10%;
  margin-left: 70%;

}

}

@media screen and (max-width: 1440px) { 

.backgroundy {

  width: 1440px;

}

.background404 {
  width: 1440px;
}

.descriptionRow {
  position: absolute;
  top: 55%;
  left: 32%;

}

.head{

	margin-left: 26%;
}

.right {
position: absolute;
  top: 10%;
  margin-left: 70%;

}

}

@media screen and (max-width: 1024px) { 

.backgroundy {

  width: 1024px;

}

.background404 {
  width: 1024px;
}

.descriptionRow {
  position: absolute;
  top: 60%;
  left: 26%;

}

.head{

	margin-left: 20%;
	position: absolute;
  top: 100%;
}

.right {
position: absolute;
  top: 10%;
  margin-left: 55%;

}

.titles {

	font-size: 35px;
	position: absolute;
  top: 17%;
}

.navDescription {
  position:relative;
  top: 150px;
  left: 10px;

}

}

@media screen and (max-width: 768px) { 

.backgroundy {

  width: 768px;

}

.background404 {
  width: 768px;
}


.descriptionRow {
  position: absolute;
  top: 60%;
  left: 17%;

}

}

@media screen and (max-width: 640px) { 

.backgroundy {

  width: 640px;

}


.background404 {
  width: 640px;
}

.descriptionRow {
  position: absolute;
  top: 60%;
  left: 10%;

}

}