

.signHeader{
	height: 70px;
	background: dodgerblue;
	margin-top: 0px;
	color: white;
	/*font-size: 24px;*/
}

.container{
	margin-bottom: -20px !important;
	margin-top: -18px !important;
}

#loginText{
	font-weight: bold;
	color: #009688;
}

.test{

}


.main{
	background: gray;
	height: 525px;
	margin-bottom: 0px;	
}

.button{
	position: relative;
	top:30%;
}


.login{
	margin: 10px 5px;
	height: 100px;
	border: 1px;
    border-radius: 25px;
}

.content{
	height: 400px;
	background: lightgray;
/*	border: 1px solid black;*/
    border-radius: 25px;

}