.accept-btn {
    background-color: #43a047;
    margin-right: 15px;
}

.accept-btn:hover {
    background-color: green;
}

.delete-btn {
    background-color: #b71c1c;
}

.delete-btn:hover {
    background-color: #d10000;
}